boto
BeautifulSoup<4.0
django<1.6
django-analytical>=0.12.1
django-annoying
django_compressor
django-extensions
django-selector
django-staticfiles
django-storages
django-ses
fabric
gunicorn
lxml
psycopg2
south
versiontools