.survey_placeholder {
    margin: 50px 0;
    text-align: center;
    font-size: 30px;
}
.unknown_code {
    text-align: center;
}
.entrance {
    text-align: center
}
.entrance h1 {
    padding: 20px 0;
}
.reset_survey {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.screen_number {
    font-size: 1.5em;
    color: #CCC;
    display: block;
    margin: -25px 0 30px 0;
}