.survey_placeholder {
    margin: 50px 0;
    text-align: center;
    font-size: 30px;
}
.unknown_code {
    text-align: center;
}
.entrance {
    text-align: center
}
.entrance h1 {
    padding: 20px 0;
}