{% extends "admin/base.html" %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Survey Administration</a></h1>
{% endblock %}

{% block content %}
<h1>Upload a new sequence of health states. </h1>

<div class="instructions"> Note that this will clear the list of possible health states, so don't enter choices that have already been used!</div>

<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
</form>
{% endblock %}