<div class="tto">
	<div class="tto_container">
        <div class="timeline top">
            <div class="first_years"></div>
            <div class="second_years"></div>
        </div>
        <div class="or">or</div>
		<div class="timeline bottom">
            <div class="first_years"></div>
            <div class="second_years"></div>
        </div>
	</div>
    <div class="confirm_message">
        <p>You have indicated you would prefer the top life course to the bottom one. Click next to continue.</p>
        <a href="#" class="reset_button btn btn-default ">Start over</a>
    </div>

</div>