<div class="row">
    <div class="col-xs-8">
        <div class="vas">
            <div class="vas_container">
                <div class="anchor top_anchor">{{ survey_config.top_anchor_label }}</div>
                <div class="filled_bar"></div>
                <div class="anchor bottom_anchor">{{ survey_config.bottom_anchor_label }}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="big_rating">
            <div class="number"></div>
        </div>
    </div>

</div>