{% extends "base.html" %}{% load compress %}

{% block title %}{{screen.title}}{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}

{% block nav %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url "survey:go_to_current" %}">Survey</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="{% if section == "about" %}active{% endif %}"><a href="{% url "survey:about" %}" >About</a></li>
      {% if survey_response %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Health States <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li role="presentation" class="{% if section == "intro" %}active{% endif %}"><a role="menuitem" href="{% url "
            survey:introduction" %}">Introduction</a></li>
          <li role="presentation" class="{% if section == "intro" %}active{% endif %}"><a role="menuitem" href="{% url "survey:vas_training" %}">Training</a></li>
          <li role="presentation" class="{% if section == "hs_1" %}active{% endif %} {% if not survey_response.started_state_1 %}disabled{% endif %}"><a role="menuitem" href="{% url "survey:health_state_intro" 1 %}">Health State 1 - {{ survey_response.state_1.name }}</a></li>
          <li role="presentation" class="{% if section == "hs_2" %}active{% endif %} {% if not survey_response.started_state_2 %}disabled{% endif %}"><a role="menuitem" href="{% url "survey:health_state_intro" 2 %}">Health State 2 - {{ survey_response.state_2.name }}</a></li>
          <li role="presentation" class="{% if section == "hs_3" %}active{% endif %} {% if not survey_response.started_state_3 %}disabled{% endif %}"><a role="menuitem" href="{% url "survey:health_state_intro" 3 %}">Health State 3 - {{ survey_response.state_3.name }}</a></li>
          <li role="presentation" class="{% if section == "hs_4" %}active{% endif %} {% if not survey_response.started_state_4 %}disabled{% endif %}"><a role="menuitem" href="{% url "survey:health_state_intro" 4 %}">Health State 4 - {{ survey_response.state_4.name }}</a></li>
          <li role="presentation" class="{% if section == "hs_5" %}active{% endif %} {% if not survey_response.started_state_5 %}disabled{% endif %}"><a role="menuitem" href="{% url "survey:health_state_intro" 5 %}">Health State 5 - {{ survey_response.state_5.name }}</a></li>
          <li role="presentation" class="{% if section == "hs_6" %}active{% endif %} {% if not survey_response.started_state_6 %}disabled{% endif %}"><a role="menuitem" href="{% url "survey:health_state_intro" 6 %}">Health State 6 - {{ survey_response.state_6.name }}</a></li>
          <li role="presentation" class="{% if section == "hs_7" %}active{% endif %} {% if not survey_response.started_state_7 %}disabled{% endif %}"><a role="menuitem" href="{% url "survey:health_state_intro" 7 %}">Health State 7 - {{ survey_response.state_7.name }}</a></li>
          <li role="presentation" class="{% if section == "hs_8" %}active{% endif %} {% if not survey_response.started_state_8 %}disabled{% endif %}"><a role="menuitem" href="{% url "survey:health_state_intro" 8 %}">Health State 8 - {{ survey_response.state_8.name }}</a></li>
          {# <li class="divider"></li> #}
          {# <li><a href="#">One more separated link</a></li> #}
        </ul>
      </li>
      {% endif %}
    </ul>
    <ul class="nav navbar-right ">
      <li><a href="{% url "survey:next_screen" screen.order %}" class="navbar-btn">Next Screen</a></li>
      {% if not is_current_screen %}
      You are looking back.
      <li><a href="{% url "survey:go_to_current" %}" class="navbar-btn">Return to current</a></li>
      {% endif %}
    </ul>
    {% if survey_response %}
    <ul class="nav navbar-right ">
        <li>
       <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ survey_response.percent_complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ survey_response.percent_complete }}%;">
            {% if survey_response.percent_complete > 30 %}
            <span class="">{{ survey_response.percent_complete|floatformat:"0" }}%</span>
            {% endif %}
          </div>
          {% if survey_response.percent_complete <= 30 %}
            <span class="outside">{{ survey_response.percent_complete|floatformat:"0" }}%</span>
          {% endif %}
        </div>
        
    </li>
    </ul>
    {% endif %}
 
  </div><!-- /.navbar-collapse -->

</nav>
{% endblock %}

{% block content %}
<div class="unknown_code">
    <h1>Sorry!<h1>

    <p>The survey ID provided is not valid. Please check with the site you came from!</p>
</div>

{% endblock %}